<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">服务列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="tool-bar">
                        <button class="btn btn-link" ng-click="fnShowFrom()"><i class="glyphicon glyphicon-plus"></i>添加</button>
                        <button class="btn btn-link" ng-click="fnSyncData()"><i class="glyphicon glyphicon-refresh"></i>同步</button>
                    </div>
                    <table id="example2" class="table table-bordered table-hover">
                        <col />
                        <col width="80" />
                        <col width="80" />
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>修改</th>
                            <th>删除</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in pagelist.list">
                            <td>{{item.title}}</td>

                            <td><button ng-click="fnShowFrom(item)" class="btn-link"><i class="glyphicon glyphicon-pencil"></i> 修改</button> </td>
                            <td><button ng-click="fnDelete(item)" class="btn-link"><i class="glyphicon glyphicon-remove"></i> 删除</button></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
