<!-- Horizontal Form -->
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">修改用户</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">账  号</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name="mobile" readonly="readonly" ng-model="formdata.mobile"  placeholder="手机号">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">邮  箱</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name="email" ng-model="formdata.email" placeholder="邮箱">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">昵  称</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name="nick" ng-model="formdata.nick" placeholder="昵称">
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
            <button type="button" class="btn btn-default" ng-click="fnHideForm()">取 消</button>
            <button type="submit" class="btn btn-info " ng-click="saveData()">保 存</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>
<!-- /.box -->